

@media all and (max-width: 875px){
	.logo-area{
		float:none;
		margin-bottom:15px;
		text-align:center;
		width:100%;
	}
	.loging-area{
		width:100%;
		
	}
	.loging-area form{
		float:none;
		width:363px;
		margin: auto;
	}
	
	
}

@media all and (max-width: 766px){
	.left-content{
		width:100%;
		float:none;
	}
	.sing-up{
		width:100%;
		float:none;
	}
}




@media all and (max-width: 475px){
	.loging-area form{
		width: auto;	
	}
	.loging-area .username{
		float:none;
	}
	.loging-area .password{
		float:none;
	}
	.loging-area input[type="text"],
	.loging-area input[type="password"]{
		width:100%
	}
	.loging-area .submit{
		float:none;
	}
	.submit input{
		margin-top:20px;
	}
}




